<body class='team'>

<h1 class='white'><%= @team.full_name %></h1>
<p class='white'>Abbr: <%= @team.abbreviation %></p>
<p class='white'>City: <%= @team.city %><br>

<h3 class='white'>Conference: <%= @team.conference %></h3>
<p class='white'>Division: <%= @team.division %></p>


<ul class='teams'>
<% @team.players.each do |player| %>
<li><%= link_to player.full_name, player_path(player) %></li>
<% end %>
</ul>

</body>