<h1><%= @team.full_name %></h1>
<p>Abbr: <%= @team.abbreviation %></p>
<p>City: <%= @team.city %><br>

<h3>Conference: <%= @team.conference %></h3>
<p>Division: <%= @team.division %></p>


<ul>
<% @team.players.each do |player| %>
<li><%= link_to player.full_name, player_path(player) %></li>
<% end %>
</ul>