<h2><%= @user.user_name %></h2>


<h3>Bio:</h3>
<p><%= @user.bio %></p><br><br><br>

<%= button_to('edit profile', edit_user_path(@user), method: :get) %><br>
<%= button_to 'homepage', '/', method: :get %><br>
<%= button_to 'logout', logout_path, action: 'delete' %><br>
