<h3>Player Search!</h3>
<style>
body {
  background-color: lightgray;
}
</style>




<%= form_tag players_path, method: :get do %>
<h3><%= label_tag(:search, "Which Player are you looking for?") %></h3>
<%= text_field_tag :search, params[:search]  %>
<%= submit_tag('Search') %>
<% end %>

<% @players.each do |player| %>
    <ul class='index_players'>
        <li><%= link_to player.full_name, player_path(player) %></li><br>
    </ul>
<% end %>