<h1><%= @player.full_name %></h1> 

<p>Jersey Number #<%= @player.jersey_number %></p><br>

<p><%= @player.position %></p>
<p>Weight: <%= @player.weight_pounds %> Lbs</p><br>
<p>Nationality: <%= @player.nationality %></p><br>
<p>College: <%= @player.university %></p>


<h3>Career Stat Averages:</h3>
    <ul>
        <li>Points per game: <%= @player.ppg.round(2) %></li><br>
        <li>Assists per game: <%= @player.apg.round(2) %></li><br>
        <li>Rebounds per game: <%= @player.rpg.round(2) %></li><br>
        <li>Steals per game: <%= @player.spg.round(2) %></li><br>
        <li>Turnovers per game: <%= @player.tpg.round(2) %></li><br>
        <li>Fouls per game: <%= @player.fpg.round(2) %></li><br>
        <li>Minutes per game: <%= @player.mpg.round(2) %></li><br>    
    </ul>
