<h1><%= @player.full_name %></h1> 

<p>Jersey Number #<%= @player.jersey_number %></p><br>

<p><%= @player.position %></p>
<p>Weight: <%= @player.weight_pounds %> Lbs</p><br>
<p>Nationality: <%= @player.nationality %></p><br>
<p>College: <%= @player.university %></p>
<% @fav = @user.favorites.find_by(player_id: @player.id)   %>
<% if @fav %>
<%= button_to 'Unfavorite', favorite_path(@fav), method: :delete %>
<% else %>
<%= button_to 'Favorite', new_favorite_path(@player) %>
<% end %>




<h3>Career Stat Averages:</h3>

<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
}
th {
  text-align: left;
}
</style>

    <table style="width:80%">
        <tr>
            <th>Points per game</th>
            <th>Assists per game</th>
            <th>Rebounds per game</th>
            <th>Steals per game</th>
            <th>Turnovers per game</th>
            <th>Fouls per game</th>
            <th>Minutes per game</th>
        </tr>
        <tr>
            <td><%= @player.ppg.round(2) %></td>
            <td><%= @player.apg.round(2) %></td>
            <td><%= @player.rpg.round(2) %></td>
            <td><%= @player.spg.round(2) %></td>
            <td><%= @player.tpg.round(2) %></td>
            <td><%= @player.fpg.round(2) %></td>
            <td><%= @player.mpg.round(2) %></td>
            </tr>    
    </table>
